html,
body {
  margin: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.mainIndex {
  height: 50%;
}

.contentIndex {
  align-items: center;
  width: 100ch !important;
}

.divXokas {
  background: red;
  width: 500px;
}

.divSubsection {
  position: relative;
  text-align: center;
  color: white;

  display: flex;
  /* align-content: center; */
  align-items: center;
}

.divSubsection:hover .logoSubsection {
  opacity: 0.95;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#content div {
  width: 250px;
  height: 250px;

  /* margin: 20px; */
}

.divSubsectionImage {
  /* width: 500px;*/
  width: 40%;
  height: 40%;

  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

.lblSubsection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  cursor: pointer;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.divSubsection:hover .lblSubsection {
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
}

.logoSubsection {
  cursor: pointer;
  background-color: black;
  width: 100%;
  border: 3px solid #fffb04f4;
  border-radius: 10%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.linkSubpage {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

@media (max-width: 767px) {
  .divSubsectionImage {
    width: 250px !important;
  }

  .lblSubsection {
    top: 60%;
    font-size: xx-large;
  }
}

@media (max-width: 480px) {
}
