.main {
  display: flex;
  justify-content: center;
}

.content {
  width: 90%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
